body,
textarea,
select,
input {
    font: 110% arial;
}

h3 {
    text-align: center;
}
html,
body,
.wrapper {
    background-color: #004;
    height: 100%;
    width: 100%;
}

label {
    padding: 1% 2% 1% 5%;
}

.col-1-div,
.col-2-div {
    background-color: #f4efe8;
}

select,
.list-div  {
    cursor: pointer;
}

.list-div {
    padding: 0 7% 5% 0%;
    background-color: #faf7f3;

}

.list-item1 {
    width: 100%;
    padding: 0 8% 4% 2%;
}

@media (orientation: portrait) {

    .text-div {
        height: 28%;
        width: 98%;
        margin: 1%;
        overflow: auto;
    }

    .map-div {
        height: 69%;
        width: 98%;
        margin: 1%;
    }

    .col-1-div {
        height: 100%;
        width: 49.5%;
        float: left;
        overflow: auto;
    }

    .error-div {
        padding: 0 2% 0 5%;
        color: red;
    }

    .search-div {
        padding: 0 2% 0 5%;
    }

    .dev-div {
        padding: 0 2% 0 5%;
    }

    .col-2-div {
        height: 100%;
        width: 49.5%;
        float: right;
        background-color: #f4efe8;
   }

    .place-title {
        background-color: #f4efe8;
        border-bottom: 4px solid black;
        height: 15%;
    }

    .list-div {
        height: 66%;
        width: 93%;
        float: right;
        overflow: auto;
    }

    .list-item1 {
        width: 100%;
        padding: 0 8% 4% 2%;
   }
}

@media (orientation: landscape) {
    .text-div {
        height: 97%;
        width: 29%;
        margin: 0.5%;
        float: right;
    }

    .map-div {
        height: 98%;
        width: 69%;
        float: left;
        margin: 0.5%;
    }

    .col-1-div {
        height: 28%;
        width: 100%;
        overflow: auto;
    }

    .error-div {
        padding: 0 2% 0 5%;
        color: red;
    }

    .search-div {
        padding: 0 2% 0 5%;
    }

    .dev-div {
        padding: 0 2% 0 5%;
    }

    .col-2-div {
        height: 69.5%;
        width: 100%;
        background-color: #f4efe8;
   }

    .place-title {
        background-color: #f4efe8;
        border-bottom: 4px solid black;
        height: 10%;
    }

    .list-div {
        height: 88%;
        overflow: auto;
    }

}



