body, textarea, select {
    font-family: arial;
    font-size: 110%;
}

html, body, #wrapper{
    height: 100%;
    width: 100%;
    background-color: #cdf;
}

label {
    padding-left: 5%;
}

li {
    margin: 2%;
    padding: 2%;
}

#list-div, select {
    cursor: pointer;
}

@media (orientation: portrait) {

    #text-div {
        height: 28%;
        width: 100%;
        float: top;
    }

    #map-canvas {
        height: 68%;
        margin: 1%;
        width: 98%;
        float: bottom;
    }

    #col-1-div{
        background-color: #F0E8E0;
        margin: 1%;
        height: 99%;
        width: 48%;
        float: left;
        overflow: auto;
   }

    #error-div{
        color: red;
    }
    #search-div{
        padding-left: 5%;
    }

    #dev-div{
        padding-left: 5%;
    }

    #col-2-div{
        background-color: #F0E8E0;
        margin: 1%;
        height: 99%;
        width: 48%;
        float: right;
        overflow: auto;
    }

    #list-div{
        height: 100%;
        width: 100%;
        float: right;
        overflow: auto;
        cursor: pointer;
    }

    #list-item1{
        width: 100%;
    }
}

@media (orientation: landscape) {
    #text-div{
        height: 100%;
        width: 30%;
        float: right;
    }

    #map-canvas {
        height: 100%;
        width: 70%;
        float: left;
    }

    #col-1-div{
        background-color: #F0E8E0;
        margin: 1%;
        height: 29%;
        width: 99%;
        overflow: auto;
    }

    #error-div{
        padding-left: 5%;
        padding-right: 2%;
        color: red;
    }

    #search-div{
        padding-left: 5%;
        padding-right: 2%;
    }

    #dev-div{
        padding-left: 5%;
        padding-right: 2%;
    }

    #col-2-div{
        background-color: #F0E8E0;
        margin: 1%;
        height: 69%;
        width: 98%;
    }

    #list-div{
        width: 100%;
        overflow: auto;
        cursor: pointer;
    }

    #list-item1{
        width: 100%;
    }
}



