body,
textarea,
select,
input {
    font: 100% arial;
}

h3 {
    text-align: left;
    padding-left: 5%;
}
html,
body,
.wrapper {
    background-color: #004;
    height: 100%;
    width: 100%;
}

label {
    padding: 1% 2% 2% 5%;
}

select,
.list-div  {
    cursor: pointer;
}

ul {
}
.list-div {

}

li {
    text-decoration: underline;
    width: 100%;
    padding: 0 8% 4% 1%;
}

.map-div {
    height: 100%;
    width: 69.5%;
    float: left;
}

.text-div {
    height: 100%;
    width: 30%;
    background-color: #f4efe8;
    float: right;
}

.error-div {
    padding: 0 2% 0 5%;
    color: red;
}

.search-div {
    padding: 0 2% 1% 5%;
}

.place-title {
    height: 6%;
    background-color: #faf7f3;
}

.list-div {
    height: 60%;
    padding: 0 7% 0% 0;
    background-color: #faf7f3;
    overflow: auto;
}





