body,
textarea,
li {
    font: 1.4em arial;
}

html,
body,
.container-fluid {
    height: 100%;
    width: 100%;
}

label,
input,
select  {
    font: 1.2em arial;
}

h3 {
    text-align: left;
}

p {
    font: 1.2em arial;
}

@media (min-width: 992px) {
    .nav,
    .selected-venue-2 {
        visibility: hidden;
        height: 0;
    }

    .not-nav {
        visibility: visible;
        height: 30px;
        margin: 2% 0 2% 0;
    }
}

.row,
.col-md-4 {
    height: 100%;
}

.map-canvas-div {
    height: 55%;
    width:90%;
    margin: 0 5% 0 5%;
}

.img-div {
    max-width: 100%;
}

.photo-div {
    height: 100%;

}

.btn-group {
}

.selected-venue-1,
.selected-venue-2 {
}

.input-group {
    height: 3%px;
}

label {
}

.search-div {
    height: 100%;
}

.search-sub-div {
    height: 40%;
}

.list-sub-div {
    height: 60%;
}

.list-div  {
    cursor: pointer;
}

ul {
    overflow: auto;
}

li {
    text-decoration: underline;
    cursor: pointer;
}

.text-div {
    background-color: #f4efe8;
}

p#error-msg {
    color: red;
}

.place-title {
    background-color: #faf7f3;
}

.list-div {
    background-color: #faf7f3;
    overflow: auto;
}

.clear-search {
    margin: 0 0 2% 0;

}

.centered  {
    text-align: center;
}

.info-text {
}







