body,
textarea,
ul {
    font: 1.4em arial;
}

html,
body,
.container-fluid {
    height: 100%;
    width: 100%;
}

.row,
.col-md-4 {
    height: 100%;
}

label,
input,
select,
li  {
    font: 1.3em arial;
}

h3 {
    text-align: left;
}

p {
    font: 1.2em arial;
}

ul,
li {
    overflow: auto;
}
li {
    color: blue;
    cursor: pointer;
}

@media (min-width: 992px) {
    .nav,
    .selected-venue-2 {
        visibility: hidden;
        height: 0;
    }

}

.map-cl {
    height: 55%;
    width:90%;
    margin: 0 5% 0 5%;
}

.img-div {
    max-width: 100%;
}

.photo-div {
    height: 100%;

}

.btn-group {
}

.selected-venue-1,
.selected-venue-2 {
}

.input-group {
    height: 3%px;
}

label {
}

.search-div {
    height: 100%;
}

.search-sub {
    height: 30%;
}

.list-sub {
    height: 65%;
    overflow: auto;
}

.list-div  {
    cursor: pointer;
}

p#error-msg {
    color: red;
}

.list-div {
    background-color: #faf7f3;
    overflow: auto;
}

.clear-search {
    margin: 0 0 2% 0;
}

.centered  {
    text-align: center;
}







